@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

.main-bg {
    min-height: 100vh;
    width: 100vw;
    background-color: #130f40;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-wrapper {
    height: 95%;
    width: 95%;
    background-color: #30336b;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.left {
    height: 100vh;
    min-height: -webkit-fill-available;
    width: 90%;
    background-color: #130f40;
    display: flex;
    flex-direction: column;
    position: relative;
}

.name {
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #686de0;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

.name>span {
    font-size: 1.5rem;
    color: aliceblue;
}

.logout-btn {
    height: 70%;
    width: 25%;
    background-color: #ff7979;
    cursor: pointer;
}

.profile {
    height: 70%;
    width: 95%;
    background-color: #130f40;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    padding: 2rem;
}

.ind-pic {
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #95afc0;
    color: #130f40;
}

.ppic {
    margin: auto;
    height: auto;
    width: 90%;
    border: 2px solid #130f40;
}

.pname {
    height: 5vh;
    width: 90%;
    color:#182C61;
    font-weight: bolder;
    margin: auto;
}

.see-cmt {
    height: 5vh;
    width: 90%;
    color: black;
    background-color: #ff7979;
    margin: auto;
}

.user-form {
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: #30336b;
    margin: auto;
    color: aliceblue;
}

.user-form>input {
    width: 30%;
    height: 70%;
    margin-bottom: 0rem;
    font-family: 'Josefin Sans', sans-serif;
}

.user-form>.pic-submit {
    background-color: aquamarine;
}

.right {
    height: 100vh;
    min-height: -webkit-fill-available;
    width: 90%;
    background-color: #130f40;
    position: relative;
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: auto;
}

.reply-div {
    overflow: auto;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: #130f40;
    color: aliceblue;
    margin: auto;
}

.ind-reply-div {
    height: 12%;
    width: 95%;
    margin-bottom: 1rem;
    color: #182C61;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #1B9CFC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment {
    width: 95%;
    height: 10%;
    align-self: auto;
    margin: auto;
    display: flex;
    position: absolute;
    top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #686de0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.other-page-btn {
    height: 7%;
    background-color: #686de0;
    width: 95%;
    margin: auto;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width:460px) {
    .main-bg {
        min-height: 100vh;
        overflow: scroll;
    }

    .main-wrapper {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 1rem 0.5rem;
    }

    .left {
        height: 100vh;
        min-height: -webkit-fill-available;
        width: 90%;
        margin-bottom: 1rem;
    }

    .right {
        height: 100vh;
        min-height: -webkit-fill-available;
        width: 90%;
    }

    .profile {
        flex-direction: column;
        align-items: center;
    }

    .ind-reply-div {
        font-size: 0.8rem;
        box-sizing: border-box;
        padding: 5px;
    }

    .see-cmt {
        font-size: 0.7rem;
        font-family: 'Josefin Sans', sans-serif;
    }

    .name>span {
        font-size: 0.9rem;
        color: aliceblue;
    }

    .logout-btn {
        height: 60%;
    }

    .user-form>input {
        width: 30%;
        height: 60%;
    }
}